body {
  background-color: black;
}
.game {
  width: 750px;
  height: 500px;
  text-align: center;
  margin: auto;
  margin-top: 200px;
  border: 1px solid #aaa;
  border-radius: 15px;
  overflow: hidden;
}

canvas {
  display: inline;
}

.opClass {
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}
